* {
  margin: 0;
  padding: 0;
}

/* Basic styles, change according to your style */

#start-page,
#win-page {
  height: 600px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  border: 1px solid black;
  margin-top: 30px;
  background-image: url('../img/superdad.webp');
  background-repeat: no-repeat;
  background-position: -250px;  
}

#win-page {
  display: none;
}

canvas {
  border: 1px solid black;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
  background-image: url('../img/poke-son-map.png');
  background-size: cover;
}

/* Auxiliar classes */

.hidden {
  display: none;
}

.shown {
  display: flex;
}

#event1, #event2, #event3 {
font-size: xx-large;
display: flex;
justify-content: center;
}

#burger_option1, 
#burger_option2,
#burger_option3,
#burger_option4,
#clothe_option1,
#clothe_option2,
#clothe_option3,
#clothe_option4,
#medic_option1,
#medic_option2,
#medic_option3,
#medic_option4 {
  background-color: rgb(67,163,230);
  color: white;
  font-family: Roboto Condensed;
  font-size: 2em;
  letter-spacing: 0.5px;
  text-align: center;
  text-decoration: none;
  padding: 10px 30px 10px 30px;
  margin-top: 10px;
  margin-left: 60px;
}

#burger_option1,
#clothe_option1,
#medic_option1{
  margin-left: 290px;
}

#start,
#playAgain {
  background-color: rgb(67,163,230);
  color: white;
  font-family: Roboto Condensed;
  font-size: 2em;
  letter-spacing: 0.5px;
  text-align: center;
  text-decoration: none;
  padding: 10px 30px 10px 30px;
  margin-top: 30px;
  margin-left: 500px;
}

h1{
  font-size: 60px;
  text-align: center;
  margin-left: 500px;
}

 #instructions{
   text-align: center;
   width: 50%;
   margin-left: 500px;
   font-size: 20px;
 }

 #instructions-1{
   margin-top: 20px;
 }

 #instructions-2{
  margin-top: 20px;
}

#instructions-3{
  margin-top: 20px;
}




